*body{
    background-color: rgb(243 243 246) !important;
}
body, section, html{
    /* background-color: rgb(243, 243, 246, 1); */
    margin: 0;
    padding: 0; 
    background-color: rgb(243 243 246);
}

.navabr{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-top: 23px;
    padding-left: 70px;
    background:  rgb(243, 243, 246, 1);
   
}
.header-div{
    display: flex;
    justify-content: center;
    align-items:last baseline;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-left: 90px;  
}
.i-circle{
    border-radius: 100%;
    font-size: 10px;
    background: #000000;
    color: #ffffff;
    text-align: center; 
    margin-left: 5px;
}
.line-first{
    font-weight: bold;
}
.first-line-second{
    font-size: 14px;
    display: flex;
    justify-content: center;
        position: relative;
            top: -15px;

}
.line-second{
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.first-icon{
    position: absolute;
    margin-left: -38px;
    margin-top: 19px;
    font-size: 25px;
}

.second-line-first{
    font-weight: bold;
        position: relative;
            top: -11px;
}

.two-img{
    margin-top: -22px;
}


.third-icon{
    position: absolute;
    margin-top: 15px;
    margin-left: -45px;
    font-size: 25px;
}
.third-line-second{
        position: relative;
        top: -15px;
        font-size: 14px;
}
.fourth-icon{
    position: absolute;
        font-size: 25px;
        margin-top: 40px;
        margin-left: -37px;
}
.fourth-line-first {
    font-weight: bold;
    position: relative;
    top: 13px;
    left: 23px;
}
.fourth-line-second{
    font-size: 14px;
        position: relative;
            left: 50px;
}
.fourth-line-third{
    font-size: 14px;
        position: relative;
            top: -15px;
        
}

/* .two{
    
    margin-left: 88px;
    margin-top: 0;
    margin-bottom: 0rem;
    display: inline-block;
    /* align-items: center; 
}
.one, .four{
    display:inline-block;
    /* align-items: center; 

.line-first{
        font-weight: bold;
        margin-top: -14px !important;
            margin-bottom: 1rem;
}

/* p{
    margin-top: -14px !important;
    margin-bottom: 1rem;
} */
/*.line-second{
    font-size: smaller
}
.three{
    margin-left: 88px;
    display: inline-block;
}
.four{
    margin-left: 88px;
    display: inline-block;
}
.four p{
    overflow: hidden;
    font-size: smaller;
} */
h1{
    font-size: 4rem !important;
    padding-top: 6rem !important;
            
}
.section-text{
    text-align: center;
        padding-top: 25px;
}

.input{
        margin-left: 575px;
        padding: 15px 55px;
        border: 1px solid gray;
        border-radius: 5px !important;
        background-color: rgb(243, 243, 246, 1);
}
button{
    background-color: black;
    color: white;
    margin-left: 15px !important; 
    border: none;
    border-radius: 20px !important;
    padding: 15px 40px;
}
.section-footer{
    display: flex;
    /* padding-left: 50px; */
    /* margin-left: 100px; */
    justify-content: center;
    /* justify-content: space-evenly; */
    gap: 40px;
    /* align-items: flex-end; */
    /* padding-bottom: 20px; */
    position: relative;
    top: -16px;
}
.labels{
    margin-bottom: 180px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.texts{
    flex-direction: column;
    margin-left: 70px !important;
}
.content-img{
    border-radius: 10px;
     width: 70%;
    margin-left: -35px;
}
h2{
        font-weight: bolder;
}
.content-p{
    background-color: rgb(173, 173, 173);
    border-radius: 50px;
    font-weight: bold;
    
            width: 172px;
                padding: 10px;
}
.content-description{
        margin-top: 20px;
}
/* .tiless{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
} */

.rounded{
    width: 160px;
    margin-top: -19px;
}

.cards{
    display: flex;
    margin-top: 100px;
    overflow: hidden;
    gap: 70px;
    margin: 66px;
    margin-top: 78px;
    background-color: rgb(243 243 246 );
}
.tiles-img{
    width: 400px;
    border-radius: 15px;
}
 .tiles-firstline{
        margin-top: 20px;
}
.tiles-secondline{
    margin-top: 20px;
}
.text-img{
    position: absolute;
        background-color: rgba(128, 68, 138, 1);
        color: white;
        border-radius: 15px;
            padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
                font-weight: bold;
                margin-top: 15px;
                /* margin-right: 10px; */
                margin-left: 20px;
                padding-bottom: 2px;
                padding-top: 2px;
            }


.cards2{
    display: flex;
    margin: 66px;
    gap: 70px;
    background-color: rgb(243 243 246);
    
}

.newsletter{
    background-color: rgb(243, 243, 246, 1);
    width: 400px;
    border-radius: 15px;
    text-align: center;
}

.cards2-icon{
font-size: 33px;
padding-top: 50px;
}
.newsletter-h4{
        padding-top: 25px;
}
.newsletter-p{
    font-size: 17px;
}
.newsletter-input{
        width: 310px;
            margin: 50px;
    border: 1px solid gray;
        border-radius: 5px !important;
        background-color: rgb(243, 243, 246, 1);
}

input::placeholder {
    font-size: 16px;
    color: gray;
    text-align: left;
    /* or center, right depending on your need */
    opacity: 1;
    /* Ensures the placeholder is visible */
}
.newsletter-btn{
    background-color: yellow;
    color: #000000;
    font-weight: bold;
}
.paggination{
    display: flex;
    justify-content: center;
        padding-top: 35px;
        background-color: rgb(243 243 246);
    
}
.page-p{
    /* background-color: rgb(243, 243, 246, 1); */
        padding: 15px;
            border: 1px solid gray;
                border-radius: 60px;
}

.last-section{
    background-color: rgb(243 243 246);
}
.last-section-h1{
    text-align: center;
    background-color: rgb(243 243 246);
}
.last-section-img{
        display: inline-block;
            background-color: white;
            border: 1px solid white;
            margin-left: 70px;
            border-radius: 10px;
            margin-top: 70px;
            margin-bottom: 40px;
}
.last-img-title{
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 5px;
}
.last-img{
    margin: 33px;
}
.last-section-btn{
    font-weight: bold;
    padding: 12px;
    margin-top: -12px;
        margin-bottom: 10px;
    
}

.footer-head{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
            
}
#footer-input{
        width: 23rem;
            height: 3.5rem;
            border-radius: 10px;
}
#footer-input::placeholder {
    padding-left: 20px;
    /* Adjust padding as needed */
}
.footer-social{
        font-size: 30px;
            margin-top: 15px;
}
.footer-social, i{
    margin-right: 15px;
}

.footer-body{
    display: flex;
    justify-content: space-between;
}

.first-column-p{
    font-weight: bold;

}
.footer-last{
    display: flex;
        justify-content: space-between;
}
.footer-last-img{
        width: 10rem;
            height: 2rem;
        
}